/** 
 * Clean Basket
 * Kim Deok Seong
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
     */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Add the correct display in IE <10.
     * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
     * Add the correct display in IE for `main`.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * Add the correct display in IE <10.
     */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
     * Add the correct display and remove excess height in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Add the correct display in IE <11, Safari <8, and Firefox <22.
     * 1. Add the correct display in IE.
     */
template,
[hidden] {
  display: none; }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox <40.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
     * Add the correct font style in Android <4.4.
     */
dfn {
  font-style: italic; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
     * Add the correct background and color in IE <10.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE <11.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1.5em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known issues:
     * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
     *   select, unless a border property is set. The default font weight on
     *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
     *   OS X.
     * - It is recommended that you do not style checkbox and radio inputs as
     *   Firefox's implementation does not respect box-sizing, padding, or width.
     * - Certain font size values applied to number inputs cause the cursor style of
     *   the decrement button to change from default to text.
     * - The search input is not fully stylable by default. In Chrome and Safari on
     *   OSX/iOS you can't control font, padding, border, or background. In Chrome
     *   and Safari on Windows you can't control border properly. It will apply
     *   border-width but will only show a border color (which cannot be controlled)
     *   for the outer 1px of that border. Applying -webkit-appearance: textfield
     *   addresses these issues without removing the benefits of search inputs (e.g.
     *   showing past searches). Safari (but not Chrome) will clip the cancel button
     *   on when it has padding (and textfield appearance).
     */
/**
     * 1. Change font properties to `inherit` in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 4. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE <11.
     * 2. Remove the padding in IE <11.
     * 3. Remove excess padding in IE 7.
     *    Known issue: excess padding remains in IE 6.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Correct the text style of placeholders in Chrome, Edge, and Safari.
     */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     * 4. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */ }

/**
     * Restore the font weight unset by a previous rule.
     */
optgroup {
  font-weight: bold; }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/**
 * header
 */
/**
 * nav
 */
/**
 * title
 */
/**
 * footer
 */
/**
 * container
 */
/**
 * btn
 */
html {
  font-family: 'Noto Sans KR', sans-serif; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

.container-fluid {
  width: auto;
  margin: 0 60px; }

.nav {
  font-size: 18px; }
  .nav-link {
    margin-right: 50px;
    color: black;
    text-decoration: none; }

.header .nav {
  float: right; }

.btn {
  color: #5ddbdb;
  background-color: white;
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 100%;
  font-size: 18px; }
  .btn-filled {
    color: white;
    background-color: #5ddbdb;
    border-color: #72cbcf; }
  .btn-border {
    color: #5ddbdb;
    background-color: transparent;
    border-color: #5ddbdb; }
  .btn-transparent {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: none; }

.vertical-divider:before {
  content: "|"; }

/*
 * needs
 *  header-height
 *  header-min-width;
 *  header-max-width;
 *  header-v-padding
 */
/**
 * header
 */
/**
 * nav
 */
/**
 * title
 */
/**
 * footer
 */
/**
 * container
 */
/**
 * btn
 */
.header {
  min-width: 1280px;
  max-width: 1920px;
  margin: 0 auto; }
  .header-logo > img {
    margin-top: 21px; }
  .header .container, .header .container-fluid {
    height: 100%; }

.header {
  height: 95px;
  line-height: 95px; }

/**
 * header
 */
/**
 * nav
 */
/**
 * title
 */
/**
 * footer
 */
/**
 * container
 */
/**
 * btn
 */
.footer {
  position: relative;
  height: 137px; }

.footer {
  height: 137px;
  color: white;
  background-color: #323c3e;
  font-weight: lighter;
  min-width: 1280px; }
  .footer .container-fluid {
    padding-top: 44px; }
  .footer-info {
    color: white;
    font-size: 13px;
    line-height: 100%; }
  .footer strong {
    font-weight: normal;
    color: #5ddbdb; }
  .footer p {
    margin: 0 0 8px 0; }
  .footer .vertical-divider:before {
    color: grey;
    margin: 0 10px; }

.titlebar {
  background-color: tomato;
  text-align: center;
  height: 330px;
  min-width: 1280px;
  max-width: 1920px;
  margin: 0 auto; }
  .titlebar.titlebar-tabs h1 {
    padding-top: 72px; }
  .titlebar.titlebar-tabs .tabs {
    margin-top: 37px; }
  .titlebar h1 {
    margin: 0;
    padding-top: 98px;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -0.065em; }
  .titlebar p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.08em;
    margin-top: 2px; }
  .titlebar .btn {
    margin: 0 5px;
    width: 240px;
    height: 60px; }

.content {
  min-width: 1280px;
  max-width: 1920px;
  padding-top: 50px;
  margin: 0 auto; }

.keystone {
  height: 108px;
  width: 108px;
  line-height: 108px;
  background-color: #72cbcf;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }
  .keystone > p {
    line-height: 1.25em;
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
    padding-top: 26px; }

.row {
  margin: 0;
  padding: 0;
  margin: 0 -11px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.col-1-of-3 {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  padding: 11px;
  min-height: 1px; }

.icon {
  overflow: hidden;
  display: inline-block; }
  .icon-gps {
    height: 29px;
    width: 29px;
    background: url("/WebSite/image/icon_gps.png") no-repeat 0 0; }
  .icon-map {
    height: 23px;
    width: 23px;
    background: url("/WebSite/image/icon_map.png") no-repeat 0 0; }
  .icon-q {
    height: 40px;
    width: 40px;
    background: url("/WebSite/image/icon_q.png") no-repeat 0 0; }
  .icon-a {
    height: 40px;
    width: 40px;
    background: url("/WebSite/image/icon_a.png") no-repeat 0 0; }
  .icon-arrow-up {
    height: 13px;
    width: 23px;
    background: url("/WebSite/image/icon_arrow_up.png") no-repeat 0 0; }
  .icon-arrow-down {
    height: 13px;
    width: 23px;
    background: url("/WebSite/image/icon_arrow_down.png") no-repeat 0 0; }

#hero .swiper-container {
  height: 100%; }

#hero .swiper-slide {
  height: 100%;
  background-size: cover; }

#hero .swiper-button-prev,
#hero .swiper-button-next {
  width: 60px;
  height: 103px;
  background-size: 60px 103px; }

#hero .swiper-button-prev {
  background-image: url("/WebSite/image/ic_next_left.png"); }

#hero .swiper-button-next {
  background-image: url("/WebSite/image/ic_next_right.png"); }

#hero .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 0 10px; }

#hero .swiper-pagination-bullet-active {
  background-color: #5ddbdb; }

#hero .swiper-pagination-bullets,
#hero .swiper-pagination-custom,
#hero .swiper-pagination-fraction {
  bottom: 60px; }

#hero .slide-one {
  background: url("/WebSite/image/bg_1.png") no-repeat center center; }

#hero .slide-two {
  background: url("/WebSite/image/bg_2.png") no-repeat center center; }

.area {
  color: white;
  height: 631px;
  vertical-align: middle; }
  .area-header {
    height: 127px;
    line-height: 127px;
    background-color: #5ddbdb; }
  .area-left {
    float: left;
    vertical-align: middle; }
  .area-right {
    float: right; }
  .area-title {
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.08em;
    vertical-align: middle; }
  .area-text {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.08em;
    vertical-align: middle; }
  .area-location {
    width: 308px;
    display: inline-block;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid white; }
    .area-location > input {
      margin-left: 20px;
      width: 250px;
      font-size: 18px;
      line-height: 1.0em;
      font-weight: 400;
      border: none;
      background-color: transparent;
      color: white; }
    .area-location .icon {
      vertical-align: middle; }
  .area-submit {
    width: 153px;
    margin-left: 13px;
    vertical-align: middle; }
  .area-seeall {
    width: 204px;
    margin-left: 10px;
    vertical-align: middle; }
    .area-seeall span {
      vertical-align: baseline; }
    .area-seeall .icon {
      vertical-align: middle;
      margin-right: 5px; }

.process {
  background: url("/WebSite/image/bg_scene3.png") no-repeat center center;
  background-size: cover;
  height: 820px; }
  .process-title {
    margin: 0;
    padding-top: 130px;
    font-size: 70px;
    text-align: center;
    line-height: 1.1em;
    letter-spacing: -0.075em; }
    .process-title-first {
      color: #5ddbdb;
      font-weight: 200; }
    .process-title-second {
      color: white;
      font-weight: 400; }
  .process-wrapper {
    padding-top: 170px;
    margin: 0 auto;
    width: 1098px; }
  .process-card {
    position: relative;
    color: white; }
    .process-card img {
      position: absolute;
      top: 0; }
    .process-card .bar {
      border-bottom: 2px solid white;
      padding-top: 120px; }
    .process-card h3 {
      margin: 0;
      padding-top: 10px;
      font-size: 30px;
      font-weight: 400; }
    .process-card p {
      margin: 0;
      padding-top: 10px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.07em; }

.seemore-item {
  height: 590px; }

.seemore-image {
  width: 50%;
  height: 100%;
  float: left; }
  .seemore-image-first {
    background: url("/WebSite/image/ic_scene4_image.png") no-repeat center center;
    background-size: cover; }
  .seemore-image-second {
    background: url("/WebSite/image/ic_scene5_image.png") no-repeat center center;
    background-size: cover; }

.seemore-detail {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center; }

.seemore-title {
  margin: 0;
  font-size: 45px;
  line-height: 1.1em;
  letter-spacing: -0.08em; }
  .seemore-title-first {
    font-weight: 200; }
  .seemore-title-second {
    font-weight: 400; }

.seemore-text {
  margin: 0;
  line-height: 1.7em;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.07em; }

.seemore .btn {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500; }

.seemore-wash .seemore-title {
  padding-top: 160px; }

.seemore-wash .seemore-text {
  padding: 29px 0; }

.seemore-wash .btn {
  padding: 16px 25px; }

.seemore-price .seemore-title {
  padding-top: 145px; }

.seemore-price .seemore-text {
  padding-top: 20px; }

.seemore-price .btn {
  padding: 16px 40px; }

.appinfo {
  height: 337px;
  background: url("/WebSite/image/bg_cb.png") no-repeat center center;
  background-size: cover;
  text-align: center; }
  .appinfo-title {
    padding-top: 72px;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -0.08em; }
  .appinfo .badges {
    padding-top: 20px; }
  .appinfo .badge-iphone {
    display: inline-block;
    width: 270px;
    height: 80px;
    margin: 20px;
    margin-right: 0;
    background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
    background-size: contain; }
  .appinfo .badge-android {
    display: inline-block;
    width: 310px;
    height: 120px;
    background: url(https://play.google.com/intl/en_us/badges/images/generic/ko_badge_web_generic.png) no-repeat;
    background-size: contain; }

.content {
  padding-top: 0; }

.area .vertical-divider {
  font-size: 35px;
  font-weight: 200;
  vertical-align: middle;
  color: #8ee6e6;
  margin: 0 17px; }

.area .btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  height: 54px;
  padding: 10px 0; }

.area .btn-filled {
  background-color: #57bebc; }

.process .row {
  margin: -29px; }

.process .col-1-of-3 {
  padding: 29px; }

/* ======================================================
 * Layout 
 * ====================================================== */
#hero {
  background-color: teal; }
  #hero li {
    display: none; }

#process {
  background-color: forestgreen;
  height: 820px; }
