.post {
  a {
    text-decoration: none;
    color: black;
  }
  &-header {
    vertical-align: middle;
    .vertical-divider {
      vertical-align: middle;
      font-size: 24px;
      font-weight: 100;
      color: #ccc;
      margin: 0 10px;
    } 

    .tag {
      color: #333;
      vertical-align: middle;
      margin-right: 20px;

      font-size: 16px;
      font-weight: $font-regular;
      letter-spacing: -0.07em;

      text-decoration: none;
      &.active {
        color: $brand-color;
        border-bottom: 1px solid $brand-color;
        padding-bottom: 2px;
      }
    }
  }

  &-title {
    vertical-align: middle;
    margin: 0;

    font-size: 26px;
    font-weight: $font-regular;

    display: inline-block;
  }

  &-list {
    list-style: none;
    padding-top: 24px;

    .card {
      background-color: #fafafa;
      height: 364px;

      &-image {
        width: 100%;
        height: 200px;
        background-position: center center;
        background-size: cover;
      }
      &-meta {
        padding-top: 22px;
      }

      &-date {
        margin-left: 20px;
        font-size: 14px;
        font-weight: $font-medium;
        color: grey;
      }

      &-title {
        margin: 0;
        padding-top: 10px;
        margin-left: 20px;

        font-size: 22px;
        font-weight: $font-regular;
      }
    }
  }
  
  &-footer {
    text-align: center;
    padding-top: 42px;
    margin-bottom: 80px;
    .btn {
      font-size: 20px;
      font-weight: $font-bold;
      width: 268px;
      line-height: 36px;
    }
  }

  &-more {
    
  }
}