$zindex-header: 500;
$zindex-header-bar: 510;
$zindex-header-nav: 509;

.header {
  z-index: $zindex-header;
  width: 100%;
  position: fixed;
  &-bar {
    position: relative;
    width: 100%;
    height: 45px;  
    text-align: center;

    // background-color: tomato;
    background-color: white;
    z-index: $zindex-header-bar;
  }
  
  &-title {
    margin-top: 18px;
  }

  &-hamburger {
    line-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;

    position: absolute;
    left: 0;

    margin-top: 18px;
    &:focus {
      outline:0 !important;
    }
  }
  
  &-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;

    background-color: white;
    box-shadow: 0px 0px 100px 1px black;
    z-index: $zindex-header-nav;
    padding-top: 2px;
    padding-bottom: 13px;
    &.closed {
      display: none;
    }
  }

  &-link {
    line-height: 1.0em;
    margin-left: 0;
    padding: 11.3px 0;

    color: #2f2f2f;
    font-size: 15px;
    font-weight: $font-regular;
    letter-spacing: -0.05em;
  }

  &-appdown {
    margin: 1.5px 0;
    padding: 11.7px 27px!important;
    font-size: 12px!important;
    font-weight: $font-thin!important;
  }
}