/**
 * variables
 *
 */

/**
 * layout
 */ 
$header-height : 95px;
$area-height : 631px;
$area-header-height : 127px;
$process-height : 820px;
$detail-height : 1180px;
$appinfo-height : 337px;
$footer-height : 137px;

$brand-color : #5ddbdb;
$dark-brand-color : #6cbeb4;
$logo-height: 54px;