/** 
 * Clean Basket
 * Kim Deok Seong
 */

@import 
	"normalize/import-now",
	"variables.default",
	"variables",
	"base.common",
	//common
	"container",
	"nav",
	"btn",
	"verticalDivider",
	"header",
	"footer",
	//page
	"modules",
	"theme";

// @import 
// 	"./variables",
// 	"./base",
// 	"./modules",
// 	"./theme";

/* ======================================================
 * Layout 
 * ====================================================== */

#nav {
	float: right;
	> a {
		
	}
}

#hero {
	background-color: teal;
	li {
		display: none;
	}
}

#area {
	background-color: tomato;
	height: $area-height;
	> header {
		h2 {

		}
		height: $area-header-height;
		background-color: $brand-color;

		font-weight: 500;
	}
}

#process {
	background-color: forestgreen;
	height: $process-height;
}

#detail {
	background-color: palevioletred;
	height: $detail-height;
}

