/** 
 * Clean Basket
 * Kim Deok Seong
 */

@import 
	"normalize/import-now",
	"variables.default",
	"variables",
	"base.common",
	//common

	"clearfix",
  "container",
  "nav",
  "btn",
  "verticalDivider",
  "header",
  "footer",
  "titlebar",
  "content",
  "keystone",
  "grid",
  "icon",
	//page
	"modules",
	"theme";

// @import 
// 	"./variables",
// 	"./base",
// 	"./modules",
// 	"./theme";

/* ======================================================
 * Layout 
 * ====================================================== */

#hero {
	background-color: teal;
	li {
		display: none;
	}
}

#process {
	background-color: forestgreen;
	height: $process-height;
}

