.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  
  color: $brand-color;
  background-color: white;
  padding: $btn-v-padding $btn-h-padding;
  border: 1px solid #ccc;
  // border: $btn-border-size solid white;
  border-radius: $btn-border-radius;
  line-height: 100%;
  font-size: 18px;
  // color: black;
  text-decoration: none;

  &-default {
    color: black;
  }

  &-filled {
    color: white;
    background-color: $brand-color;
    border-color: $dark-brand-color;
  }

  &-border {
    color: $brand-color;
    background-color: transparent;
    border-color: $brand-color;
  }

  &-transparent {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    // opacity: 0.8;
  }
}