.table {
  border-collapse: collapse;
  width: 100%;

  .text-top {
    vertical-align: top;
  }
  
  th, td {
    padding: 17px;

    font-weight: $font-regular;
    text-align: left;
    
    font-size: 16px; 
  }
  tr {
    border-bottom: solid 1px #e6e6e6;  
    &:last-child {
      border-bottom: solid 1px black; 
    }
    td:nth-child(1) {
      padding: 21px;
      background-color: #fafafa;
      width: 166px;
      font-size: 18px;
    }  
  }

  // tr:last
  input[type=radio] {
    margin-right: 10px;
  }

  .radio-text {
    margin-right: 30px
  }

  

  input[type=text] {
    padding: 5px 10px;
    width: 300px;
    box-sizing: border-box;
    // line-height: 2.0em;
  }

  input[type=text].input-fluid {
    width: 100%;
  }

  textarea {
    resize: none;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
  }
}