@import "config";

$brand-color : #5ddbdb;
$dark-brand-color: #72cbcf;

$desktop-small : 1280px;
$desktop-large : 1920px;

$font-thin: 200;
$font-regular: 300;
$font-medium: 400;
$font-bold: 500;





$logo-height: 53px !default;
$header-height : 95px !default;
$header-min-width : $desktop-small !default;
$header-max-width : $desktop-large !default;
$header-v-padding: ($header-height - $logo-height)/2 !default;


$nav-font-size: 18px;
$nav-gutter: 50px;
$nav-font-color: black;


$title-height: 330px;


$footer-height : 137px;
$footer-color: white;
$footer-divider-color: grey;
$footer-background-color: #323c3e;


$container-width: $desktop-small;
$container-fluid-margin: 60px;


$btn-v-padding: 12px;
$btn-h-padding: 24px;
$btn-border-size: 1px;
$btn-color: $brand-color;
$btn-background-color: white;
$btn-border-radius: 3px;
