.about {
  position: relative;
  &-titlebar {
    h1, h2, h3, h4, h5, h6 {
      font-weight: lighter;
      margin: 0;
    }
    text-align: center;
  }
  &-title {
    font-size: 70px;
    line-height: 1.1em;
    letter-spacing: -0.065em;

    padding-top: 35px;
  }

  &-subtitle {
    font-size: 22px;
    font-weight: $font-regular;
    letter-spacing: -0.065em;

    padding-top: 14px;
  }

  &-detail {
    margin-top: 115px;
  }

  &-bar {
    margin : 4px;
    margin-left:  22px;
    
    border: 3px solid $dark-brand-color;
    width : 60px;
  }

  &-subject {
    margin-left: 20px;

    font-weight: $font-thin;
    font-size: 40px;
    letter-spacing: -0.085em;
  }

  &-text {
    margin-left: 20px;

    font-weight: $font-regular;
    font-size: 18px;
    line-height: 1.45em;
    letter-spacing: -0.07em;
  }

  &-apply {
    position: absolute;
    top: -50px;;
    right: 70px;
    color: white;
    width: 165px;
    height: 286px;
    background: url("#{$rootPath}/image/apply.png") no-repeat;
    background-size: cover;
    p {
      font-size: 23px;
      font-weight: $font-bold;
      line-height: 1.1em;
      letter-spacing: -0.07em;
      margin: 30px 15px;
    }

    a {
      position: absolute;
      bottom: 0;
      margin: 20px 15px;
      font-size: 16px;
      font-weight: $font-bold;
      text-decoration: none;
      color: white;
      
      vertical-align: middle;
      > span {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

.business {
  position: relative;
  margin-top: 171px;
  &-titlebar {
    height: 405px;
    background: url("#{$rootPath}/image/sub03_sub_title.png") no-repeat 0 0;
  }
  &-title {
    margin: 0;
    padding-top: 167px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -0.1em;

    color: white;
  }

  &-detail {
    padding-top: 55px;
    padding-bottom: 98px;
    &-item {
      padding: 55px 0;
      clear:both;

      .left {
        float: left;
        font-size: 35px;
        letter-spacing: -0.1em;

        line-height: 1.2em;
        display: inline-block;
        width : 40%;
        margin : 0 15px;
      }

      .right {
        font-size: 18px;
        letter-spacing: -0.1em;
        font-weight: 300;

        float: right;
        display: inline-block;
        width : 650px;
        margin: 0 30px;
      }
    }
  }
}

.company {
  position: relative;
  text-align: center;
  clear: both;

  background-color: #f2f5f5;

  padding-bottom: 96px;

  &-up {
    margin: 0;

    padding-top: 142px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: $font-regular;
    letter-spacing: -0.095em;
    line-height: 1.35em;

  }
  
  &-down {
    margin: 0;

    margin-top: 50px;
    margin-bottom: 30px;
    color: #aaabab;
    font-size: 18px;
    letter-spacing: -0.09em;
    font-weight: $font-regular;
  }

  .btn-border {
    color: $dark-brand-color;
    width: 178px;
    line-height: 36px;
    border: 2px solid $dark-brand-color
  }
}