.lab {
  position: relative;
  padding-bottom: 100px;
  &-images {
    position: relative;
    height: 830px;

    .swiper-container {
      // height: 100%;
    }

    .swiper-wrapper {
      height: 686px;
      text-align: center;
    }

    .swiper-pagination {
      width: 100%;
      bottom: 75px;
    }

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      // border: 2px solid white;
      margin: 0 10px;
    }

    .swiper-pagination-bullet-active {
      background-color: black;
    }

    .swiper-pagination-bullets, 
    .swiper-pagination-custom, 
    .swiper-pagination-fraction {
      // bottom: -400px; 
    } 
  }

  &-sns {
    margin: 28px 0;

  }

  &-text {
    font-size: 18px;
    font-weight: $font-regular;
    letter-spacing: -0.08em;

  }

  &-tag {
    margin-top: 35px;
    margin-bottom: 45px;
    .tag {
      color: #8a8a8a;
      vertical-align: middle;
      margin-right: 20px;

      font-size: 16px;
      font-weight: $font-regular;
      letter-spacing: -0.07em;

      text-decoration: none;
    }
  }

  &-hr {
    color: #ccc;
    margin: 30px 0;
  }

  &-btns {
    .lab-prevbtn,
    .lab-nextbtn {
      float: left;
      width: 134px;
      height: 58px;
      
      font-weight: $font-regular;
      // color: black;
    }

    .lab-prevbtn {
      
      border-radius: 5px 0px 0px 5px;
    }

    .lab-nextbtn {
      border-radius: 0px 5px 5px 0px;
      border-left: none;
    }

    .lab-listbtn {
      float: right;
      width: 178px;
      height: 58px;
    }
  }
}