<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="#" class="footer-link">회사소개</a>
      <a href="{{rootPath}}/m/sub04.html" class="footer-link">자주하는 질문</a>
      <a href="#" class="footer-link">주문조회</a>
      <a href="{{rootPath}}{{pcHref}}" class="footer-link">PC버전</a>
    </nav>
    <hr>
    <span class="footer-copy">COPYRIGHT © <mark>WASH APP KOREA.</mark> ALL RIGHTS RESERVED.</span>
  </div>
</footer>