<header class="header">
  <div class="header-bar">
    <div class="container">
      <button class="header-hamburger"><img src="https://placehold.it/16x9" alt=""></button>
      <img class="header-title" src="https://placehold.it/109x9" alt="CLEAN BASKET">  
    </div>
  </div>
  
  <ul class="header-nav closed">
    <div class="container">
      <li class="header-link">주문하기</li>
      <li class="header-link">주문조회</li>
      <li class="header-link">자주하는 질문</li>
      <li class="header-link"><button class="btn btn-filled header-appdown appdown-trigger">앱 다운로드</a></li>  
    </div>
  </ul>
</header>