.btn {
  color: black;
  background-color: white;
  padding: $btn-v-padding $btn-h-padding;
  border: $btn-border-size solid white;
  border-radius: $btn-border-radius;

  line-height: 100%;
  &-primary {
    color: white;
    background-color: $brand-color;
    border-color: $dark-brand-color;
  }

  &-border {
    color: $brand-color;
    background-color: white;
    border-color: $brand-color;
  }
}