.icon {
  overflow: hidden;
  display: inline-block;
  
  &-gps {
    height: 29px;
    width: 29px;
    background: url("#{$rootPath}/image/icon_gps.png") no-repeat 0 0;
  }

  &-map {
    height: 23px;
    width: 23px;
    background: url("#{$rootPath}/image/icon_map.png") no-repeat 0 0;
  }

  &-q {
    height: 40px;
    width: 40px;
    background: url("#{$rootPath}/image/icon_q.png") no-repeat 0 0;
  }

  &-a {
    height: 40px;
    width: 40px;
    background: url("#{$rootPath}/image/icon_a.png") no-repeat 0 0; 
  }

  &-arrow-up {
    height: 13px;
    width: 23px;
    background: url("#{$rootPath}/image/icon_arrow_up.png") no-repeat 0 0; 
  }

  &-arrow-down {
    height: 13px;
    width: 23px;
    background: url("#{$rootPath}/image/icon_arrow_down.png") no-repeat 0 0;
  }

  &-go {
    height: 27px;
    width: 27px;
    background: url("#{$rootPath}/image/icon_go.png") no-repeat 0 0;
  }
}