.ask {
  letter-spacing: -0.075em;
  &-btns {
    text-align: center;
    .btn {
      padding: 20px 72px;
      margin: 4px;
    }
    .btn-default {
      
    }
  }
  .table {
    strong {
      font-weight: $font-regular;
      color: #9be7e7;
      // text-decoration: underline;
    }
  }

  .attached {
    &-btn {
      color: black;
      font-size: inherit;
      line-height: 27px;
      vertical-align: middle;
    
      padding: 6px 30px;
      background-color: #e6e6e6;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &-text {
      margin-left: 10px;
    }
    
  }
  
}