.ask {
  letter-spacing: -0.075em;
  &-btns {
    text-align: center;
    .btn {
      padding: 20px 72px;
      margin: 4px;
    }
    .btn-default {
      
    }
  }
  .table {
    strong {
      font-weight: $font-regular;
      color: #9be7e7;
      // text-decoration: underline;
    }
  }
  .addfiletext {
    margin-left: 10px;
  }
}